<link rel="stylesheet" type="text/css" href="/css/qna/list.css"/>

<div class="qna-list-top">
	<div style="float: left;">
		<button type="button" class="question-button">질문하기</button>
	</div>
	<div style="float: right;">
		<select>
			<option>제목+내용</option>
			<option>제목</option>
			<option>내용</option>
		</select>
		<input>
		<button type="button" class="question-search-button">검색</button>
	</div>
</div>

<div>
	<section class="mypage-left">
		<h3 class="menu-title">카테고리</h3>
		<hr class="menu-separator"/>

		<ul class="mypage-menu-list">
			<li><a href="#">병원</a></li>
			<li><a href="#">동물별</a></li>
			<li><a href="#">└ 거북이</a></li>
			<li><a href="#">└ 고슴도치</a></li>
			<li><a href="#">└ 앵무새</a></li>
			<li><a href="#">└ 토끼</a></li>
			<li><a href="#">└ 패럿</a></li>
			<li><a href="#">└ 햄스터</a></li>
			<li><a href="#">기타</a></li>
		</ul>
	</section>

	<section class="hospital-detail-area">
		<table class="qna-table" cellpadding="0" cellspacing="0">
			<thead>
			<th>카테고리</th>
			<th>제목</th>
			<th>작성자</th>
			<th>작성일</th>
			<th>조회수</th>
			</thead>
			<tbody>
			<tr>
				<td>
					거북이
				</td>
				<td>
					<a href="/qna/detail/1">asdasd</a>
				</td>
				<td>
					ㅁㄴㅇㅁㄴㅇ
				</td>
				<td>
					2018-10-23
				</td>
				<td>
					0
				</td>
			</tr>
			<tr>
				<td>
					거북이
				</td>
				<td>
					<a href="/qna/detail/1">asdasd</a>
				</td>
				<td>
					ㅁㄴㅇㅁㄴㅇ
				</td>
				<td>
					2018-10-23
				</td>
				<td>
					0
				</td>
			</tr>
			<tr>
				<td>
					거북이
				</td>
				<td>
					<a href="/qna/detail/1">asdasd</a>
				</td>
				<td>
					ㅁㄴㅇㅁㄴㅇ
				</td>
				<td>
					2018-10-23
				</td>
				<td>
					0
				</td>
			</tr>
			<tr>
				<td>
					거북이
				</td>
				<td>
					<a href="/qna/detail/1">asdasd</a>
				</td>
				<td>
					ㅁㄴㅇㅁㄴㅇ
				</td>
				<td>
					2018-10-23
				</td>
				<td>
					0
				</td>
			</tr>
			<tr>
				<td>
					거북이
				</td>
				<td>
					<a href="/qna/detail/1">asdasd</a>
				</td>
				<td>
					ㅁㄴㅇㅁㄴㅇ
				</td>
				<td>
					2018-10-23
				</td>
				<td>
					0
				</td>
			</tr>
			<tr>
				<td>
					거북이
				</td>
				<td>
					<a href="/qna/detail/1">asdasd</a>
				</td>
				<td>
					ㅁㄴㅇㅁㄴㅇ
				</td>
				<td>
					2018-10-23
				</td>
				<td>
					0
				</td>
			</tr>
			</tbody>
		</table>
	</section>
</div>


<script type="text/javascript" src="/js/qna/list.js"></script>