<link rel="stylesheet" type="text/css" href="/css/qna/list.css"/>

<div class="qna-list-top">
	<div style="float: left;">
		<button>질문하기</button>
	</div>
	<div style="float: right;">
		<select>
			<option>제목+내용</option>
			<option>제목</option>
			<option>내용</option>
		</select>
		<input>
		<button>검색</button>
	</div>
</div>

<div>
	<section class="mypage-left">
		<h3 class="menu-title">카테고리</h3>
		<hr class="menu-separator"/>

		<ul class="mypage-menu-list">
			<li><a href="#">병원</a></li>
			<li><a href="#">동물별</a></li>
			<li><a href="#">└ 거북이</a></li>
			<li><a href="#">└ 고슴도치</a></li>
			<li><a href="#">└ 앵무새</a></li>
			<li><a href="#">└ 토끼</a></li>
			<li><a href="#">└ 패럿</a></li>
			<li><a href="#">└ 햄스터</a></li>
			<li><a href="#">기타</a></li>
		</ul>
	</section>

	<section class="hospital-detail-area">
		<h2 class="detail-title">
			<span class="black">관리자</span> 님 환영합니다.
		</h2>

		<div class="user-info">
			<p>
				<span class="user-label">아이디</span>
				<span>admin</span>
			</p>
			<p>
				<span class="user-label">이름</span>
				<span>관리자</span>
			</p>
			<p>
				<span class="user-label">닉네임</span>
				<span>관리자</span>
			</p>
			<p>
				<span class="user-label">이메일</span>
				<span>admin@sac.com</span>
			</p>
			<p>
				<span class="user-label">연락처</span>
				<span>010-1234-5678</span>
			</p>
		</div>

		<div class="title-bottom-div"></div>

		<div class="detail-info">
			<div>
				<h3 class="detail-info-title">나의 병원</h3>
				<a class="detail-more" href="#">더보기 <span>+</span></a>

				<hr class="detail-hr"/>

				<div style="width: 100%; display: inline-block;">
					<div class="hospital-item" data-hospital-id="1">
						<div class="hospital-area">
							<div class="item-top">
								<div class="img">안양비산동물병원</div>
							</div>
							<div class="item-bottom">
								<div class="desc">
									<span class="desc-label">이름</span>
									<span class="desc-value">안양비산동물병원</span>
								</div>
								<div class="desc">
									<span class="desc-label">주소</span>
									<span class="desc-value">경기도 안양시 만안구 태평로52번길 37</span>
								</div>
								<div class="desc">
									<span class="desc-label">번호</span>
									<span class="desc-value">031-446-6575</span>
								</div>
								<br/>
								<div class="desc">
									<span class="desc-label">대상</span>
									<span class="desc-value">
					<ul class="animal-type-list">
						<li>
							<i class="animal-type animal-type-1"></i>
						</li>
						<li>
							<i class="animal-type animal-type-2"></i>
						</li>
						<li>
							<i class="animal-type animal-type-3"></i>
						</li>
						<li>
							<i class="animal-type animal-type-4"></i>
						</li>
					</ul>
					</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<hr class="detail-hr"/>

		<div class="detail-area">
			<div class="detail-area-left">후기</div>
			<div class="detail-area-right" style="height: auto;">
				<table class="detail-board" cellspacing="0" cellpadding="0">
					<thead>
					<tr>
						<th>No.</th>
						<th>내용</th>
						<th>별점</th>
						<th>작성자</th>
						<th>작성일</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>1</td>
						<td>
							<a class="board-link" href="#">후기후기</a>
						</td>
						<td>★★★★☆</td>
						<td>l2****</td>
						<td>18.10.09</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div style="text-align: right;">
			<button type="button" class="detail-scrap-button">
				후기작성
			</button>
		</div>
	</section>
</div>


<script type="text/javascript" src="/js/qna/list.js"></script>