<link rel="stylesheet" type="text/css" href="/css/magazine/list.css"/>

<!--동물,지역 선택 부분 <div id="select-section"> -->
<section class="one-section" style="margin-top: 50px;">
	<h4 class="select-animal-title">동물선택</h4>
	<ul class="animal-list">
		<li data-type="0">전체</li>
		<li data-type="1">거북이</li>
		<li data-type="2">고슴도치</li>
		<li data-type="3">앵무새</li>
		<li data-type="4">토끼</li>
		<li data-type="5">패럿</li>
		<li data-type="6">햄스터</li>
	</ul>
</section>

<section class="one-section" style="margin-top: 50px;">
	<h3 class="one-section-title">MAGAZINE</h3>

	<section class="box-area" style="text-align: center;">
		<div class="hospital-item" data-hospital-id="1">
			<div class="hospital-area">
				<div class="item-top">
					<div class="img">안양비산동물병원</div>
					<p class="item-like">
						<span class="like">♥</span>
						<span>57</span>
					</p>
				</div>
				<div class="item-bottom">
					<div class="desc">
						<span class="desc-label">이름</span>
						<span class="desc-value">안양비산동물병원</span>
					</div>
					<div class="desc">
						<span class="desc-label">주소</span>
						<span class="desc-value">경기도 안양시 만안구 태평로52번길 37</span>
					</div>
					<div class="desc">
						<span class="desc-label">번호</span>
						<span class="desc-value">031-446-6575</span>
					</div>
					<br/>
					<div class="desc">
						<span class="desc-label">대상</span>
						<span class="desc-value">
					<ul class="animal-type-list">
						<li>
							<i class="animal-type animal-type-1"></i>
						</li>
						<li>
							<i class="animal-type animal-type-2"></i>
						</li>
						<li>
							<i class="animal-type animal-type-3"></i>
						</li>
						<li>
							<i class="animal-type animal-type-4"></i>
						</li>
					</ul>
					</span>
					</div>
				</div>
			</div>
			<button class="scrap-button">♥ 스크랩</button>
		</div>
		<div class="hospital-item" data-hospital-id="1">
			<div class="hospital-area">
				<div class="item-top">
					<div class="img">안양비산동물병원</div>
					<p class="item-like">
						<span class="like">♥</span>
						<span>57</span>
					</p>
				</div>
				<div class="item-bottom">
					<div class="desc">
						<span class="desc-label">이름</span>
						<span class="desc-value">안양비산동물병원</span>
					</div>
					<div class="desc">
						<span class="desc-label">주소</span>
						<span class="desc-value">경기도 안양시 만안구 태평로52번길 37</span>
					</div>
					<div class="desc">
						<span class="desc-label">번호</span>
						<span class="desc-value">031-446-6575</span>
					</div>
					<br/>
					<div class="desc">
						<span class="desc-label">대상</span>
						<span class="desc-value">
					<ul class="animal-type-list">
						<li>
							<i class="animal-type animal-type-1"></i>
						</li>
						<li>
							<i class="animal-type animal-type-2"></i>
						</li>
						<li>
							<i class="animal-type animal-type-3"></i>
						</li>
						<li>
							<i class="animal-type animal-type-4"></i>
						</li>
					</ul>
					</span>
					</div>
				</div>
			</div>
			<button class="scrap-button">♥ 스크랩</button>
		</div>
		<div class="hospital-item" data-hospital-id="1">
			<div class="hospital-area">
				<div class="item-top">
					<div class="img">안양비산동물병원</div>
					<p class="item-like">
						<span class="like">♥</span>
						<span>57</span>
					</p>
				</div>
				<div class="item-bottom">
					<div class="desc">
						<span class="desc-label">이름</span>
						<span class="desc-value">안양비산동물병원</span>
					</div>
					<div class="desc">
						<span class="desc-label">주소</span>
						<span class="desc-value">경기도 안양시 만안구 태평로52번길 37</span>
					</div>
					<div class="desc">
						<span class="desc-label">번호</span>
						<span class="desc-value">031-446-6575</span>
					</div>
					<br/>
					<div class="desc">
						<span class="desc-label">대상</span>
						<span class="desc-value">
					<ul class="animal-type-list">
						<li>
							<i class="animal-type animal-type-1"></i>
						</li>
						<li>
							<i class="animal-type animal-type-2"></i>
						</li>
						<li>
							<i class="animal-type animal-type-3"></i>
						</li>
						<li>
							<i class="animal-type animal-type-4"></i>
						</li>
					</ul>
					</span>
					</div>
				</div>
			</div>
			<button class="scrap-button">♥ 스크랩</button>
		</div>
		<div class="hospital-item" data-hospital-id="1">
			<div class="hospital-area">
				<div class="item-top">
					<div class="img">안양비산동물병원</div>
					<p class="item-like">
						<span class="like">♥</span>
						<span>57</span>
					</p>
				</div>
				<div class="item-bottom">
					<div class="desc">
						<span class="desc-label">이름</span>
						<span class="desc-value">안양비산동물병원</span>
					</div>
					<div class="desc">
						<span class="desc-label">주소</span>
						<span class="desc-value">경기도 안양시 만안구 태평로52번길 37</span>
					</div>
					<div class="desc">
						<span class="desc-label">번호</span>
						<span class="desc-value">031-446-6575</span>
					</div>
					<br/>
					<div class="desc">
						<span class="desc-label">대상</span>
						<span class="desc-value">
					<ul class="animal-type-list">
						<li>
							<i class="animal-type animal-type-1"></i>
						</li>
						<li>
							<i class="animal-type animal-type-2"></i>
						</li>
						<li>
							<i class="animal-type animal-type-3"></i>
						</li>
						<li>
							<i class="animal-type animal-type-4"></i>
						</li>
					</ul>
					</span>
					</div>
				</div>
			</div>
			<button class="scrap-button">♥ 스크랩</button>
		</div>
		<div class="hospital-item" data-hospital-id="1">
			<div class="hospital-area">
				<div class="item-top">
					<div class="img">안양비산동물병원</div>
					<p class="item-like">
						<span class="like">♥</span>
						<span>57</span>
					</p>
				</div>
				<div class="item-bottom">
					<div class="desc">
						<span class="desc-label">이름</span>
						<span class="desc-value">안양비산동물병원</span>
					</div>
					<div class="desc">
						<span class="desc-label">주소</span>
						<span class="desc-value">경기도 안양시 만안구 태평로52번길 37</span>
					</div>
					<div class="desc">
						<span class="desc-label">번호</span>
						<span class="desc-value">031-446-6575</span>
					</div>
					<br/>
					<div class="desc">
						<span class="desc-label">대상</span>
						<span class="desc-value">
					<ul class="animal-type-list">
						<li>
							<i class="animal-type animal-type-1"></i>
						</li>
						<li>
							<i class="animal-type animal-type-2"></i>
						</li>
						<li>
							<i class="animal-type animal-type-3"></i>
						</li>
						<li>
							<i class="animal-type animal-type-4"></i>
						</li>
					</ul>
					</span>
					</div>
				</div>
			</div>
			<button class="scrap-button">♥ 스크랩</button>
		</div>
		<div class="hospital-item" data-hospital-id="1">
			<div class="hospital-area">
				<div class="item-top">
					<div class="img">안양비산동물병원</div>
					<p class="item-like">
						<span class="like">♥</span>
						<span>57</span>
					</p>
				</div>
				<div class="item-bottom">
					<div class="desc">
						<span class="desc-label">이름</span>
						<span class="desc-value">안양비산동물병원</span>
					</div>
					<div class="desc">
						<span class="desc-label">주소</span>
						<span class="desc-value">경기도 안양시 만안구 태평로52번길 37</span>
					</div>
					<div class="desc">
						<span class="desc-label">번호</span>
						<span class="desc-value">031-446-6575</span>
					</div>
					<br/>
					<div class="desc">
						<span class="desc-label">대상</span>
						<span class="desc-value">
					<ul class="animal-type-list">
						<li>
							<i class="animal-type animal-type-1"></i>
						</li>
						<li>
							<i class="animal-type animal-type-2"></i>
						</li>
						<li>
							<i class="animal-type animal-type-3"></i>
						</li>
						<li>
							<i class="animal-type animal-type-4"></i>
						</li>
					</ul>
					</span>
					</div>
				</div>
			</div>
			<button class="scrap-button">♥ 스크랩</button>
		</div>
		<div class="hospital-item" data-hospital-id="1">
			<div class="hospital-area">
				<div class="item-top">
					<div class="img">안양비산동물병원</div>
					<p class="item-like">
						<span class="like">♥</span>
						<span>57</span>
					</p>
				</div>
				<div class="item-bottom">
					<div class="desc">
						<span class="desc-label">이름</span>
						<span class="desc-value">안양비산동물병원</span>
					</div>
					<div class="desc">
						<span class="desc-label">주소</span>
						<span class="desc-value">경기도 안양시 만안구 태평로52번길 37</span>
					</div>
					<div class="desc">
						<span class="desc-label">번호</span>
						<span class="desc-value">031-446-6575</span>
					</div>
					<br/>
					<div class="desc">
						<span class="desc-label">대상</span>
						<span class="desc-value">
					<ul class="animal-type-list">
						<li>
							<i class="animal-type animal-type-1"></i>
						</li>
						<li>
							<i class="animal-type animal-type-2"></i>
						</li>
						<li>
							<i class="animal-type animal-type-3"></i>
						</li>
						<li>
							<i class="animal-type animal-type-4"></i>
						</li>
					</ul>
					</span>
					</div>
				</div>
			</div>
			<button class="scrap-button">♥ 스크랩</button>
		</div>
		<div class="hospital-item" data-hospital-id="1">
			<div class="hospital-area">
				<div class="item-top">
					<div class="img">안양비산동물병원</div>
					<p class="item-like">
						<span class="like">♥</span>
						<span>57</span>
					</p>
				</div>
				<div class="item-bottom">
					<div class="desc">
						<span class="desc-label">이름</span>
						<span class="desc-value">안양비산동물병원</span>
					</div>
					<div class="desc">
						<span class="desc-label">주소</span>
						<span class="desc-value">경기도 안양시 만안구 태평로52번길 37</span>
					</div>
					<div class="desc">
						<span class="desc-label">번호</span>
						<span class="desc-value">031-446-6575</span>
					</div>
					<br/>
					<div class="desc">
						<span class="desc-label">대상</span>
						<span class="desc-value">
					<ul class="animal-type-list">
						<li>
							<i class="animal-type animal-type-1"></i>
						</li>
						<li>
							<i class="animal-type animal-type-2"></i>
						</li>
						<li>
							<i class="animal-type animal-type-3"></i>
						</li>
						<li>
							<i class="animal-type animal-type-4"></i>
						</li>
					</ul>
					</span>
					</div>
				</div>
			</div>
			<button class="scrap-button">♥ 스크랩</button>
		</div>
		<div class="hospital-item" data-hospital-id="1">
			<div class="hospital-area">
				<div class="item-top">
					<div class="img">안양비산동물병원</div>
					<p class="item-like">
						<span class="like">♥</span>
						<span>57</span>
					</p>
				</div>
				<div class="item-bottom">
					<div class="desc">
						<span class="desc-label">이름</span>
						<span class="desc-value">안양비산동물병원</span>
					</div>
					<div class="desc">
						<span class="desc-label">주소</span>
						<span class="desc-value">경기도 안양시 만안구 태평로52번길 37</span>
					</div>
					<div class="desc">
						<span class="desc-label">번호</span>
						<span class="desc-value">031-446-6575</span>
					</div>
					<br/>
					<div class="desc">
						<span class="desc-label">대상</span>
						<span class="desc-value">
					<ul class="animal-type-list">
						<li>
							<i class="animal-type animal-type-1"></i>
						</li>
						<li>
							<i class="animal-type animal-type-2"></i>
						</li>
						<li>
							<i class="animal-type animal-type-3"></i>
						</li>
						<li>
							<i class="animal-type animal-type-4"></i>
						</li>
					</ul>
					</span>
					</div>
				</div>
			</div>
			<button class="scrap-button">♥ 스크랩</button>
		</div>
		<div class="hospital-item" data-hospital-id="1">
			<div class="hospital-area">
				<div class="item-top">
					<div class="img">안양비산동물병원</div>
					<p class="item-like">
						<span class="like">♥</span>
						<span>57</span>
					</p>
				</div>
				<div class="item-bottom">
					<div class="desc">
						<span class="desc-label">이름</span>
						<span class="desc-value">안양비산동물병원</span>
					</div>
					<div class="desc">
						<span class="desc-label">주소</span>
						<span class="desc-value">경기도 안양시 만안구 태평로52번길 37</span>
					</div>
					<div class="desc">
						<span class="desc-label">번호</span>
						<span class="desc-value">031-446-6575</span>
					</div>
					<br/>
					<div class="desc">
						<span class="desc-label">대상</span>
						<span class="desc-value">
					<ul class="animal-type-list">
						<li>
							<i class="animal-type animal-type-1"></i>
						</li>
						<li>
							<i class="animal-type animal-type-2"></i>
						</li>
						<li>
							<i class="animal-type animal-type-3"></i>
						</li>
						<li>
							<i class="animal-type animal-type-4"></i>
						</li>
					</ul>
					</span>
					</div>
				</div>
			</div>
			<button class="scrap-button">♥ 스크랩</button>
		</div>
		<div class="hospital-item" data-hospital-id="1">
			<div class="hospital-area">
				<div class="item-top">
					<div class="img">안양비산동물병원</div>
					<p class="item-like">
						<span class="like">♥</span>
						<span>57</span>
					</p>
				</div>
				<div class="item-bottom">
					<div class="desc">
						<span class="desc-label">이름</span>
						<span class="desc-value">안양비산동물병원</span>
					</div>
					<div class="desc">
						<span class="desc-label">주소</span>
						<span class="desc-value">경기도 안양시 만안구 태평로52번길 37</span>
					</div>
					<div class="desc">
						<span class="desc-label">번호</span>
						<span class="desc-value">031-446-6575</span>
					</div>
					<br/>
					<div class="desc">
						<span class="desc-label">대상</span>
						<span class="desc-value">
					<ul class="animal-type-list">
						<li>
							<i class="animal-type animal-type-1"></i>
						</li>
						<li>
							<i class="animal-type animal-type-2"></i>
						</li>
						<li>
							<i class="animal-type animal-type-3"></i>
						</li>
						<li>
							<i class="animal-type animal-type-4"></i>
						</li>
					</ul>
					</span>
					</div>
				</div>
			</div>
			<button class="scrap-button">♥ 스크랩</button>
		</div>
		<div class="hospital-item" data-hospital-id="1">
			<div class="hospital-area">
				<div class="item-top">
					<div class="img">안양비산동물병원</div>
					<p class="item-like">
						<span class="like">♥</span>
						<span>57</span>
					</p>
				</div>
				<div class="item-bottom">
					<div class="desc">
						<span class="desc-label">이름</span>
						<span class="desc-value">안양비산동물병원</span>
					</div>
					<div class="desc">
						<span class="desc-label">주소</span>
						<span class="desc-value">경기도 안양시 만안구 태평로52번길 37</span>
					</div>
					<div class="desc">
						<span class="desc-label">번호</span>
						<span class="desc-value">031-446-6575</span>
					</div>
					<br/>
					<div class="desc">
						<span class="desc-label">대상</span>
						<span class="desc-value">
					<ul class="animal-type-list">
						<li>
							<i class="animal-type animal-type-1"></i>
						</li>
						<li>
							<i class="animal-type animal-type-2"></i>
						</li>
						<li>
							<i class="animal-type animal-type-3"></i>
						</li>
						<li>
							<i class="animal-type animal-type-4"></i>
						</li>
					</ul>
					</span>
					</div>
				</div>
			</div>
			<button class="scrap-button">♥ 스크랩</button>
		</div>
	</section>
</section>

<script type="text/javascript" src="/js/magazine/list.js"></script>