<link rel="stylesheet" type="text/css" href="/css/magazine/list.css"/>

<!--동물,지역 선택 부분 <div id="select-section"> -->
<section class="one-section" style="margin-top: 50px;">
	<h4 class="select-animal-title">동물선택</h4>
	<ul class="animal-list">
		<li class="active" data-type="0">전체</li>
		<li data-type="1">거북이</li>
		<li data-type="2">고슴도치</li>
		<li data-type="3">앵무새</li>
		<li data-type="4">토끼</li>
		<li data-type="5">패럿</li>
		<li data-type="6">햄스터</li>
	</ul>
</section>

<div class="search-div">
	<button class="search-bt" type="button" onclick="search()">검색</button>
</div>

<section class="one-section" style="margin-top: 50px;">
	<h3 class="one-section-title">MAGAZINE <span>&lt;&lt; <span id="searchName" style="color: black;">전체</span> 검색결과</span></h3>

	<section class="box-area" style="text-align: center;">
		<div class="hospital-item" data-magazine-idx="1">
			<div class="hospital-area">
				<div class="item-top">
					<div class="img" style="background:url(/images/example/example-main-magazine-1.jpg)"></div>
				</div>
				<div class="item-bottom">
					<h4 class="magazine-item-title">토끼의 이갈이</h4>
					<p class="magazine-item-desc">토끼는 항상 이가 자라기 때문에
						이를 갈 수 있는 나무가 필요하다.
						나무는 참나무 떡갈나무 등이
						좋다. 이를 갈지 않으면 스트레스
						를 받기 때문에 중요한데</p>
				</div>
				<div class="magazine-item-info">
					<span>조회</span>
					<span>120</span>
					<span>♥</span>
					<span>27</span>
				</div>
			</div>
			<button class="scrap-button">♥ 스크랩</button>
		</div>
		<div class="hospital-item" data-magazine-idx="1">
			<div class="hospital-area">
				<div class="item-top">
					<div class="img" style="background:url(/images/example/example-main-magazine-1.jpg)"></div>
				</div>
				<div class="item-bottom">
					<h4 class="magazine-item-title">토끼의 이갈이</h4>
					<p class="magazine-item-desc">토끼는 항상 이가 자라기 때문에
						이를 갈 수 있는 나무가 필요하다.
						나무는 참나무 떡갈나무 등이
						좋다. 이를 갈지 않으면 스트레스
						를 받기 때문에 중요한데</p>
				</div>
				<div class="magazine-item-info">
					<span>조회</span>
					<span>120</span>
					<span>♥</span>
					<span>27</span>
				</div>
			</div>
			<button class="scrap-button">♥ 스크랩</button>
		</div>
		<div class="hospital-item" data-magazine-idx="1">
			<div class="hospital-area">
				<div class="item-top">
					<div class="img" style="background:url(/images/example/example-main-magazine-1.jpg)"></div>
				</div>
				<div class="item-bottom">
					<h4 class="magazine-item-title">토끼의 이갈이</h4>
					<p class="magazine-item-desc">토끼는 항상 이가 자라기 때문에
						이를 갈 수 있는 나무가 필요하다.
						나무는 참나무 떡갈나무 등이
						좋다. 이를 갈지 않으면 스트레스
						를 받기 때문에 중요한데</p>
				</div>
				<div class="magazine-item-info">
					<span>조회</span>
					<span>120</span>
					<span>♥</span>
					<span>27</span>
				</div>
			</div>
			<button class="scrap-button">♥ 스크랩</button>
		</div>
		<div class="hospital-item" data-magazine-idx="1">
			<div class="hospital-area">
				<div class="item-top">
					<div class="img" style="background:url(/images/example/example-main-magazine-1.jpg)"></div>
				</div>
				<div class="item-bottom">
					<h4 class="magazine-item-title">토끼의 이갈이</h4>
					<p class="magazine-item-desc">토끼는 항상 이가 자라기 때문에
						이를 갈 수 있는 나무가 필요하다.
						나무는 참나무 떡갈나무 등이
						좋다. 이를 갈지 않으면 스트레스
						를 받기 때문에 중요한데</p>
				</div>
				<div class="magazine-item-info">
					<span>조회</span>
					<span>120</span>
					<span>♥</span>
					<span>27</span>
				</div>
			</div>
			<button class="scrap-button">♥ 스크랩</button>
		</div>
		<div class="hospital-item" data-magazine-idx="1">
			<div class="hospital-area">
				<div class="item-top">
					<div class="img" style="background:url(/images/example/example-main-magazine-1.jpg)"></div>
				</div>
				<div class="item-bottom">
					<h4 class="magazine-item-title">토끼의 이갈이</h4>
					<p class="magazine-item-desc">토끼는 항상 이가 자라기 때문에
						이를 갈 수 있는 나무가 필요하다.
						나무는 참나무 떡갈나무 등이
						좋다. 이를 갈지 않으면 스트레스
						를 받기 때문에 중요한데</p>
				</div>
				<div class="magazine-item-info">
					<span>조회</span>
					<span>120</span>
					<span>♥</span>
					<span>27</span>
				</div>
			</div>
			<button class="scrap-button">♥ 스크랩</button>
		</div>
		<div class="hospital-item" data-magazine-idx="1">
			<div class="hospital-area">
				<div class="item-top">
					<div class="img" style="background:url(/images/example/example-main-magazine-1.jpg)"></div>
				</div>
				<div class="item-bottom">
					<h4 class="magazine-item-title">토끼의 이갈이</h4>
					<p class="magazine-item-desc">토끼는 항상 이가 자라기 때문에
						이를 갈 수 있는 나무가 필요하다.
						나무는 참나무 떡갈나무 등이
						좋다. 이를 갈지 않으면 스트레스
						를 받기 때문에 중요한데</p>
				</div>
				<div class="magazine-item-info">
					<span>조회</span>
					<span>120</span>
					<span>♥</span>
					<span>27</span>
				</div>
			</div>
			<button class="scrap-button">♥ 스크랩</button>
		</div>
		<div class="hospital-item" data-magazine-idx="1">
			<div class="hospital-area">
				<div class="item-top">
					<div class="img" style="background:url(/images/example/example-main-magazine-1.jpg)"></div>
				</div>
				<div class="item-bottom">
					<h4 class="magazine-item-title">토끼의 이갈이</h4>
					<p class="magazine-item-desc">토끼는 항상 이가 자라기 때문에
						이를 갈 수 있는 나무가 필요하다.
						나무는 참나무 떡갈나무 등이
						좋다. 이를 갈지 않으면 스트레스
						를 받기 때문에 중요한데</p>
				</div>
				<div class="magazine-item-info">
					<span>조회</span>
					<span>120</span>
					<span>♥</span>
					<span>27</span>
				</div>
			</div>
			<button class="scrap-button">♥ 스크랩</button>
		</div>
		<div class="hospital-item" data-magazine-idx="1">
			<div class="hospital-area">
				<div class="item-top">
					<div class="img" style="background:url(/images/example/example-main-magazine-1.jpg)"></div>
				</div>
				<div class="item-bottom">
					<h4 class="magazine-item-title">토끼의 이갈이</h4>
					<p class="magazine-item-desc">토끼는 항상 이가 자라기 때문에
						이를 갈 수 있는 나무가 필요하다.
						나무는 참나무 떡갈나무 등이
						좋다. 이를 갈지 않으면 스트레스
						를 받기 때문에 중요한데</p>
				</div>
				<div class="magazine-item-info">
					<span>조회</span>
					<span>120</span>
					<span>♥</span>
					<span>27</span>
				</div>
			</div>
			<button class="scrap-button">♥ 스크랩</button>
		</div>
		<div class="hospital-item" data-magazine-idx="1">
			<div class="hospital-area">
				<div class="item-top">
					<div class="img" style="background:url(/images/example/example-main-magazine-1.jpg)"></div>
				</div>
				<div class="item-bottom">
					<h4 class="magazine-item-title">토끼의 이갈이</h4>
					<p class="magazine-item-desc">토끼는 항상 이가 자라기 때문에
						이를 갈 수 있는 나무가 필요하다.
						나무는 참나무 떡갈나무 등이
						좋다. 이를 갈지 않으면 스트레스
						를 받기 때문에 중요한데</p>
				</div>
				<div class="magazine-item-info">
					<span>조회</span>
					<span>120</span>
					<span>♥</span>
					<span>27</span>
				</div>
			</div>
			<button class="scrap-button">♥ 스크랩</button>
		</div>
		<div class="hospital-item" data-magazine-idx="1">
			<div class="hospital-area">
				<div class="item-top">
					<div class="img" style="background:url(/images/example/example-main-magazine-1.jpg)"></div>
				</div>
				<div class="item-bottom">
					<h4 class="magazine-item-title">토끼의 이갈이</h4>
					<p class="magazine-item-desc">토끼는 항상 이가 자라기 때문에
						이를 갈 수 있는 나무가 필요하다.
						나무는 참나무 떡갈나무 등이
						좋다. 이를 갈지 않으면 스트레스
						를 받기 때문에 중요한데</p>
				</div>
				<div class="magazine-item-info">
					<span>조회</span>
					<span>120</span>
					<span>♥</span>
					<span>27</span>
				</div>
			</div>
			<button class="scrap-button">♥ 스크랩</button>
		</div>
		<div class="hospital-item" data-magazine-idx="1">
			<div class="hospital-area">
				<div class="item-top">
					<div class="img" style="background:url(/images/example/example-main-magazine-1.jpg)"></div>
				</div>
				<div class="item-bottom">
					<h4 class="magazine-item-title">토끼의 이갈이</h4>
					<p class="magazine-item-desc">토끼는 항상 이가 자라기 때문에
						이를 갈 수 있는 나무가 필요하다.
						나무는 참나무 떡갈나무 등이
						좋다. 이를 갈지 않으면 스트레스
						를 받기 때문에 중요한데</p>
				</div>
				<div class="magazine-item-info">
					<span>조회</span>
					<span>120</span>
					<span>♥</span>
					<span>27</span>
				</div>
			</div>
			<button class="scrap-button">♥ 스크랩</button>
		</div>
		<div class="hospital-item" data-magazine-idx="1">
			<div class="hospital-area">
				<div class="item-top">
					<div class="img" style="background:url(/images/example/example-main-magazine-1.jpg)"></div>
				</div>
				<div class="item-bottom">
					<h4 class="magazine-item-title">토끼의 이갈이</h4>
					<p class="magazine-item-desc">토끼는 항상 이가 자라기 때문에
						이를 갈 수 있는 나무가 필요하다.
						나무는 참나무 떡갈나무 등이
						좋다. 이를 갈지 않으면 스트레스
						를 받기 때문에 중요한데</p>
				</div>
				<div class="magazine-item-info">
					<span>조회</span>
					<span>120</span>
					<span>♥</span>
					<span>27</span>
				</div>
			</div>
			<button class="scrap-button">♥ 스크랩</button>
		</div>
	</section>
	<div class="pagination">
		<span>&lt;</span>
		<span class="active">1</span>
		<span>2</span>
		<span>3</span>
		<span>4</span>
		<span>5</span>
		<span>&gt;</span>
	</div>
</section>

<script type="text/javascript" src="/js/magazine/list.js"></script>