<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8"/>
	<title>특수동물 25시::Hospital</title>
	<link rel="stylesheet" type="text/css" href="/library/swiper/swiper.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/common.css"/>
	<script type="text/javascript" src="/library/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/library/swiper/swiper.min.js"></script>
</head>
<body>

<nav id="top">
	<ul>
		<% if(username !== undefined) {
		%>
		<li><a href="/user/process/logout">LOGOUT</a></li>
		<li><a href="/user/mypage">MYPAGE</a></li>
		<%
		}  else {
		%>
		<li><a href="/user/login">LOGIN</a></li>
		<li><a href="/user/join_step1">JOIN</a></li>
		<%
		} %>
	</ul>
</nav>
<header id="header">
	<center><a href="/"><img src="/images/logo.png" width="180" height="180"/></a></center>
</header>
<nav id="nav">
	<ul>
		<li><a href="/hospital/list">Hospital</a></li>
		<li><a href="/magazine/list">Magazine</a></li>
		<li><a href="/shop">Shop</a></li>
		<li><a href="/qna">Q&A</a></li>
		<li class="search">
			<div class="bar">
				<input id="searchBar" class="search-input" type="text"/>
				<button class="search-button">SEARCH</button>
			</div>
		</li>
	</ul>
</nav>

<!--병원찾기 첫 화면-->
<section class="content">
	<%- body %>
</section>

<footer>
	<div>
		<div class="footer-logo"></div>
		<div class="footer-desc">
			<p><span class="bold">(주) 특수동물25시</span></p>
			<p>주 소 | 경기도 안양시 만안구</p>
			<br/>
			<p>대표이사 | 양세종</p>

			<p>대표전화 | 031-124-5332(발신자 부담전화)</p>

			<p>팩 스 | 0502-235-9746(지역번호공통)</p>
			<br/>
			<p>COPYRIGHT(C) <span class="bold">SPECIAL ANIMAL CLINIC 25HOURS</span> ALL RIGHTS RESERVED.</p>
		</div>
	</div>
	<section class="footer-color-area"></section>
</footer>
<script type="text/javascript" src="/js/common.js"></script>
</body>
</html>