<link rel="stylesheet" type="text/css" href="css/main.css"/>
<div class="top" style="margin-top: 50px; margin-bottom: 50px;">
	<section class="body-left">
		<ul class="animal-list">
			<li>
				<i class="animal-type animal-type-2"></i>
			</li>
			<li>
				<i class="animal-type animal-type-5"></i>
			</li>
			<li>
				<i class="animal-type animal-type-6"></i>
			</li>
			<li>
				<i class="animal-type animal-type-1"></i>
			</li>
			<li>
				<i class="animal-type animal-type-4"></i>
			</li>
			<li>
				<i class="animal-type animal-type-3"></i>
			</li>
		</ul>
	</section>
	<section id="map"></section>
</div>

<div class="content-area">
	<div>
		<h3>MAGAZINE</h3>
		<a href="/magazine/list" class="show-more">더보기 +</a>
	</div>
	<div class="magazine-area owl-carousel owl-theme" id="magazineContainer">
			<div class="item">
				<div class="item-top">
					<img class="magazine-img" src="../images/example/example-main-magazine-1.jpg"/>
				</div>
				<div class="item-bottom">
					<h4 class="magazine-title">토끼의 이갈이</h4>
					<p class="magazine-desc">토끼는 항상 이가 자라기 때문에
						이를 갈 수 있는 나무가 필요하다.
						나무는 참나무 떡갈나무 등이
						좋다. 이를 갈지 않으면 스트레스
						를 받기 때문에 중요한데
						…</p>
				</div>
			</div>
			<div class="item">
				<div class="item-top">
					<img class="magazine-img" src="../images/example/example-main-magazine-2.jpg"/>
				</div>
				<div class="item-bottom">
					<h4 class="magazine-title">애완용 거북이</h4>
					<p class="magazine-desc">토끼는 항상 이가 자라기 때문에
						이를 갈 수 있는 나무가 필요하다.
						나무는 참나무 떡갈나무 등이
						좋다. 이를 갈지 않으면 스트레스
						를 받기 때문에 중요한데
						…</p>
				</div>
			</div>
			<div class="item">
				<div class="item-top">
					<img class="magazine-img" src="../images/example/example-main-magazine-3.jpg"/>
				</div>
				<div class="item-bottom">
					<h4 class="magazine-title">고슴도치 주의점</h4>
					<p class="magazine-desc">토끼는 항상 이가 자라기 때문에
						이를 갈 수 있는 나무가 필요하다.
						나무는 참나무 떡갈나무 등이
						좋다. 이를 갈지 않으면 스트레스
						를 받기 때문에 중요한데
						…</p>
				</div>
			</div>
			<div class="item">
				<div class="item-top">
					<img class="magazine-img" src="../images/example/example-main-magazine-4.jpg"/>
				</div>
				<div class="item-bottom">
					<h4 class="magazine-title">패럿의 귀여움</h4>
					<p class="magazine-desc">토끼는 항상 이가 자라기 때문에
						이를 갈 수 있는 나무가 필요하다.
						나무는 참나무 떡갈나무 등이
						좋다. 이를 갈지 않으면 스트레스
						를 받기 때문에 중요한데
						…</p>
				</div>
			</div>

			<div class="item">
				<div class="item-top">
					<img class="magazine-img" src="../images/example/example-main-magazine-4.jpg"/>
				</div>
				<div class="item-bottom">
					<h4 class="magazine-title">패럿의 귀여움</h4>
					<p class="magazine-desc">토끼는 항상 이가 자라기 때문에
						이를 갈 수 있는 나무가 필요하다.
						나무는 참나무 떡갈나무 등이
						좋다. 이를 갈지 않으면 스트레스
						를 받기 때문에 중요한데
						…</p>
				</div>
			</div>

			<div class="item">
				<div class="item-top">
					<img class="magazine-img" src="../images/example/example-main-magazine-4.jpg"/>
				</div>
				<div class="item-bottom">
					<h4 class="magazine-title">패럿의 귀여움</h4>
					<p class="magazine-desc">토끼는 항상 이가 자라기 때문에
						이를 갈 수 있는 나무가 필요하다.
						나무는 참나무 떡갈나무 등이
						좋다. 이를 갈지 않으면 스트레스
						를 받기 때문에 중요한데
						…</p>
				</div>
			</div>

			<div class="item">
				<div class="item-top">
					<img class="magazine-img" src="../images/example/example-main-magazine-4.jpg"/>
				</div>
				<div class="item-bottom">
					<h4 class="magazine-title">패럿의 귀여움</h4>
					<p class="magazine-desc">토끼는 항상 이가 자라기 때문에
						이를 갈 수 있는 나무가 필요하다.
						나무는 참나무 떡갈나무 등이
						좋다. 이를 갈지 않으면 스트레스
						를 받기 때문에 중요한데
						…</p>
				</div>
			</div>

			<div class="item">
				<div class="item-top">
					<img class="magazine-img" src="../images/example/example-main-magazine-4.jpg"/>
				</div>
				<div class="item-bottom">
					<h4 class="magazine-title">패럿의 귀여움</h4>
					<p class="magazine-desc">토끼는 항상 이가 자라기 때문에
						이를 갈 수 있는 나무가 필요하다.
						나무는 참나무 떡갈나무 등이
						좋다. 이를 갈지 않으면 스트레스
						를 받기 때문에 중요한데
						…</p>
				</div>
			</div>
	</div>
</div>

<div class="content-area">
	<div>
		<h3>쇼핑몰</h3>
		<a href="/shop/list" class="show-more">더보기 +</a>
	</div>
	<div class="shop-area owl-carousel owl-theme" id="shopContainer">
			<div class="item" data-link="http://www.naver.com">
				<div class="item-top">
					<img class="shop-img" src="../images/example/example-main-shop-1.png" />
				</div>
				<div class="item-bottom">
					<ul class="animal-type-list">
						<li>
							<i class="animal-type animal-type-1"></i>
						</li>
						<li>
							<i class="animal-type animal-type-2"></i>
						</li>
						<li>
							<i class="animal-type animal-type-3"></i>
						</li>
						<li>
							<i class="animal-type animal-type-4"></i>
						</li>
					</ul>
				</div>
			</div>
			<div class="item" data-link="http://www.naver.com">
				<div class="item-top">
					<img class="shop-img" src="../images/example/example-main-shop-2.png" />
				</div>
				<div class="item-bottom">
					<ul class="animal-type-list">
						<li>
							<i class="animal-type animal-type-4"></i>
						</li>
					</ul>
				</div>
			</div>
			<div class="item" data-link="http://www.naver.com">
				<div class="item-top">
					<img class="shop-img" src="../images/example/example-main-shop-3.png" />
				</div>
				<div class="item-bottom">
					<ul class="animal-type-list">
						<li>
							<i class="animal-type animal-type-3"></i>
						</li>
						<li>
							<i class="animal-type animal-type-4"></i>
						</li>
					</ul>
				</div>
			</div>
			<div class="item" data-link="http://www.naver.com">
				<div class="item-top">
					<img class="shop-img" src="../images/example/example-main-shop-4.png" />
				</div>
				<div class="item-bottom">
					<ul class="animal-type-list">
						<li>
							<i class="animal-type animal-type-1"></i>
						</li>
						<li>
							<i class="animal-type animal-type-2"></i>
						</li>
						<li>
							<i class="animal-type animal-type-3"></i>
						</li>
					</ul>
				</div>
			</div>
			<div class="item" data-link="http://www.naver.com">
				<div class="item-top">
					<img class="shop-img" src="../images/example/example-main-shop-5.png" />
				</div>
				<div class="item-bottom">
					<ul class="animal-type-list">
						<li>
							<i class="animal-type animal-type-1"></i>
						</li>
						<li>
							<i class="animal-type animal-type-2"></i>
						</li>
						<li>
							<i class="animal-type animal-type-3"></i>
						</li>
						<li>
							<i class="animal-type animal-type-4"></i>
						</li>
						<li>
							<i class="animal-type animal-type-5"></i>
						</li>
						<li>
							<i class="animal-type animal-type-6"></i>
						</li>
					</ul>
				</div>
			</div>
			<div class="item" data-link="http://www.naver.com">
				<div class="item-top">
					<img class="shop-img" src="../images/example/example-main-shop-6.png" />
				</div>
				<div class="item-bottom">
					<ul class="animal-type-list">
						<li>
							<i class="animal-type animal-type-1"></i>
						</li>
						<li>
							<i class="animal-type animal-type-3"></i>
						</li>
					</ul>
				</div>
			</div>
			<div class="item" data-link="http://www.naver.com">
				<div class="item-top">
					<img class="shop-img" src="../images/example/example-main-shop-7.png" />
				</div>
				<div class="item-bottom">
					<ul class="animal-type-list">
						<li>
							<i class="animal-type animal-type-3"></i>
						</li>
					</ul>
				</div>
			</div>
			<div class="item" data-link="http://www.naver.com">
				<div class="item-top">
					<img class="shop-img" src="../images/example/example-main-shop-8.png" />
				</div>
				<div class="item-bottom">
					<ul class="animal-type-list">
						<li>
							<i class="animal-type animal-type-1"></i>
						</li>
						<li>
							<i class="animal-type animal-type-2"></i>
						</li>
					</ul>
				</div>
			</div>
			<div class="item" data-link="http://www.naver.com">
				<div class="item-top">
					<img class="shop-img" src="../images/example/example-main-shop-9.png" />
				</div>
				<div class="item-bottom">
					<ul class="animal-type-list">
						<li>
							<i class="animal-type animal-type-1"></i>
						</li>
					</ul>
				</div>
			</div>
	</div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/js/main.js"></script>