<link rel="stylesheet" type="text/css" href="/css/user/join_step3.css"/>

<div class="step-area">
	<span>1. 약관동의</span>
	<span>&gt;</span>
	<span>2. 기본정보 입력</span>
	<span>&gt;</span>
	<span class="active">3. 회원가입 완료</span>
</div>

<div class="join-content">
	<div class="agree-area">
		<img src="/images/qr.png"style="margin: 30px 0;"/>
		<p class="join-desc"><%=username%>님의 특수동물25 가입을 환영합니다 :)</p>
	</div>
</div>

<script type="text/javascript" src="/js/user/join_step3.js"></script>